---
import { getCollection } from 'astro:content'

import Container from '@/components/Container.astro'
import Pagination from '@/components/Pagination'
import config from '@/config.json'
import Layout from '@/layouts/Base.astro'
import { filterDrafts, formatDate, withBase } from '@/lib/utils'

const posts = await getCollection('blog', (entry) => filterDrafts(entry))
const sortedPosts = posts.sort((a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf())

const { title, description } = config.pages.find((item) => item.href === '/blog')!
---

<Layout title={title} description={description}>
  <Container class="mt-16">
    <h1 class="text-3xl font-bold tracking-tighter text-foreground sm:text-4xl">
      {title}
    </h1>
    <p class="mt-3 text-base text-muted-foreground">{description}</p>
    <div class="mt-16 space-y-16 lg:border-l lg:pl-6">
      {
        sortedPosts.map((post) => {
          const { description: postDescription, title: postTitle, pubDate } = post.data
          return (
            <section
              class="lg:grid lg:grid-cols-[9rem_1fr] lg:gap-8 lg:items-baseline"
              data-blog-post
            >
              <time
                datetime={pubDate!.toISOString()}
                class="hidden font-mono text-foreground/70 text-xs lg:block"
              >
                {formatDate(pubDate!)}
              </time>
              <article>
                <h2 class="text-base font-semibold tracking-tight text-foreground">
                  <a
                    href={withBase(`/blog/${post.id}`)}
                    class="hover:underline"
                    data-astro-prefetch
                  >
                    {postTitle}
                  </a>
                </h2>
                <p class="mt-1 text-muted-foreground text-sm">{postDescription}</p>
                <time
                  datetime={pubDate!.toISOString()}
                  class="mt-2 block font-mono text-foreground/70 text-xs lg:hidden"
                >
                  {formatDate(pubDate!)}
                </time>
              </article>
            </section>
          )
        })
      }
    </div>
    <Pagination
      client:load
      pathname={Astro.url.pathname}
      totalItems={sortedPosts.length}
    />
  </Container>
</Layout>
